# Ignora le cartelle __pycache__
__pycache__/

# Ignora i file di ambiente virtuale
.env/
venv/

# Ignora altri file di configurazione specifici
*.log
*.env

# Escludi la cartella node_modules
node_modules/

# Escludi la cartella build (creata quando costruisci l'app per la produzione)
build/


# Escludi la cartella log
logs/